body {
  background-color: #f3a7c9;
}

.row {
  align-items: center;
}

.aboutText {
  color: white;
}

.border {
  border-radius: 4px;
  border: 1px solid grey;
  background-color: white;
  text-align: center;
  margin: 2%;
}
