<form ng-submit="newItem()">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <label for = "item" class = "col-sm-6 control-label">Registry Item</label>
        <input type="text" ng-model="item" class="form-control" placeholder="Registry Item Name" aria-describedby="sizing-addon2">
      </div>
      <div class = "checkbox">
        <label for = "category" class = "col-sm-2 control-label">Category</label>
        <label><input type = "checkbox">Kitchen</label>
        <label><input type = "checkbox">Living</label>
        <label><input type = "checkbox">Outdoor</label>
      </div>
      <div class = "checkbox">
        <label for = "price" class = "col-sm-2 control-label">Price Level</label>
        <label><input type = "checkbox">$</label>
        <label><input type = "checkbox">$$</label>
        <label><input type = "checkbox">$$$</label>
        <label><input type = "checkbox">$$$$</label>
      </div>
      <div class="input-group">
        <label for = "quantity" class = "col-sm-2 control-label">Quantity</label>
        <input type="text" ng-model="quantity" class="form-control" placeholder="Insert Quantity" aria-describedby="sizing-addon2">
      </div>
    </div>
  </div>
  <br>
  <input type="submit" value="Add Item">
</form>
