<form ng-submit="newItem()" ng-controller="registriesController">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Item Name</span>
        <input type="text" class="form-control" placeholder="Insert Registry Item Name" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Category<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Kitchen</a></li>
          <li><a href="#">Living</a></li>
          <li><a href="#">Outdoor</a></li>
        </ul>
      </div>
      <br><br>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">Quantity</span>
        <input type="text" class="form-control" placeholder="Insert Quantity" aria-describedby="sizing-addon2">
      </div>
      <br>
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Price<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">$</a></li>
          <li><a href="#">$$</a></li>
          <li><a href="#">$$$</a></li>
          <li><a href="#">$$$$</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" value="submit">Submit</button>
</form>
