<div ng-controller="mainController">
   <div class="container">
      <div class="border row">
          <div class= "border col-lg-3">
            <div ng-repeat="item in kitchen">
                <h4>{{item.item}}</h4>
                <h5>Category: {{item.category}}</h5>
                <h5>Quantity: {{item.quantity}}</h5>
                <h5><i>Price: {{item.price}}</i></h5>
            </div>
          </div>
          <div class= "border col-lg-3">
            <div ng-repeat="item in living">
                <h4>{{item.item}}</h4>
                <h5>Category: {{item.category}}</h5>
                <h5>Quantity: {{item.quantity}}</h5>
                <h5><i>Price: {{item.price}}</i></h5>
            </div>
          </div>
          <div class= "border col-lg-3">
            <div ng-repeat="item in outdoor">
              <h4>{{item.item}}</h4>
              <h5>Category: {{item.category}}</h5>
              <h5>Quantity: {{item.quantity}}</h5>
              <h5><i>Price: {{item.price}}</i></h5>
          </div>
        </div>
      </div>
  </div>
</div>


//<!-- TODO:
  a. ng-repeat for item in registryCollection
  b. ng-if the category is equal to living, print in X div
  c. ng-if the category is equal to kitchen, print in X decorative
  d. ng-if the category is equal to outdoor,  -->
